# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
/lib/
/lib64/
!frontend/lib/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.env
.venv
env/
venv/
ENV/

# Database / SQLite
*.sqlite3
*.db

# Alembic
alembic/versions/*.pyc

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
ios/.generated/
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/**/gradle-wrapper.jar

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
